[Unit]
Description=Unattended Arch Upgrade (uAu)
Requires=network-online.target 

[Service]
Type=simple
ExecStart=/usr/bin/uau
TimeoutStopSec=900
KillMode=process
KillSignal=SIGINT
User=archupdater

