[Unit]
Description=Unattended Arch Upgrade timer - just watching...

[Timer]
# to override ensure you set OnCalendar= before your wanted schedule
OnCalendar=Tue,Sat *-*-* 16:33:33
Persistent=false

[Install]
WantedBy=multi-user.target
